@import '~bootstrap/scss/bootstrap.scss';
@import '~@fontsource/roboto/index.css';
@import './_vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: white;
}

.container90 {
  width: 90%;
  margin: auto;
}

.container50 {
  width: 50%;
  margin: auto;
}

a {
  text-decoration: none;
}

p {
  color: $grey;
  font-size: .75rem;
  line-height: 1.7rem;
}

h3 {
  text-transform: uppercase;
  color: black;
}

h3.white {
  color: white;
}

// bottons
._btn {
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: .7rem;
}

._btn.white {
  border: 2px solid white;
  color: white;
}

._btn.yellow {
  border: 2px solid $yellow;
  color: $yellow;
}

._btn.full {
  background-color: $yellow;
  color: white;
}
// /bottons

.line {
  width: 100px;
  border: 1px solid $yellow;
  margin: 20px 0 30px;
}